nav {
    background-color: #222222;
    color: var(--secondary);
    height: 60px;
    border-bottom: 1px solid rgba(19, 36, 92, 0.2);
    font-weight: bold;
    border-bottom: 1px solid rgba(218, 187, 223, 0.253);
    /* box-shadow:0 1px 10px rgba(19, 36, 92, 0.2); */
}

nav ul {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 100%;
    margin-left: 25px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 23px;
    margin-right: 50px;
}

.logo img {
    height: 42px;
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 25px;
}
