.hero-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  min-height: 550px;
  max-height: 700px;
  background-color: var(--primary);
}

.hero-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
