.nav {
    background-color: transparent;
    color: white;
    height: 60px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 100%;
    margin-left: 25px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 23px;
    margin-right: 50px;
}

.logo img {
    height: 42px;
}

.user-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 25px;
}

.modal {
    cursor: pointer;
}

.splash-log button {
    color: var(--secondary);
    border: 3px solid var(--secondary);
    border: none;
    border-radius: 5px;
}
