.deck-form {
    background-color: #222;
}

.deck-form h5 {
    color: white;
    font-weight: 400;
    font-size: 0.95rem;
    margin-bottom: 5px;
}

.deck-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 14px;
}

.deck-header h3 {
    color: white;
}

.deck-header img {
    filter: invert(100%);
}

.deck-content {
    padding: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.deck-title {
    font-size: 1.1rem;
    font-weight: 500;
}

.close-modal {
    cursor: pointer;
    width: 20px;
}

.form-set:first-child {
    margin-top: 16px;
}

.content-item {
    margin-bottom: 1rem;
}

.content-item:last-child {
    margin-bottom: 0;
}

.content-item input,
.content-item textarea {
    background-color: #111;
    border-radius: 0.25rem;
    border: 1px solid #000;
    padding: .375rem .75rem;
    color: #bbb;
    transition: box-shadow .2s;
}

.content-item input {
    min-width: 500px;
    height: calc(2.25em + 2px);
    font-weight: 400;
    font-size: 1rem;
}


.content-item textarea {
    resize: none;
    width: 100%;
    min-height: 4rem;
}

.content-item textarea:focus,
.content-item input:focus {
    /* outline: 1px solid #bb30bb; */
    outline: none;
    box-shadow: 0px 2px 5px #bb30bb,
    0px -2px 5px #bb30bb,
    2px 0px 5px #bb30bb,
    -2px 0px 5px #bb30bb;
}

.content-item textarea::placeholder,
.content-item input::placeholder {
    color: rgb(172, 169, 169);
}

.search-commander {
    position: relative;
}

.commander-results {
    position: absolute;
    background-color: white;
    width: 100%;
    height: max-content;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0.25rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.commander-results li {
    padding: 5px 10px;
    transition: background-color 0.1s;
}

.commander-results li:hover {
    background-color: #cccccc;
}

.found-commander-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.found-commander {
    color: white;
}


.found-commander-card {
    display: flex;
    gap: .5rem;
}

.commander-picture {
    width: 250px;
    border-radius: 15px;    
}

.deck-footer {
    padding: 14px 14px 14px 14px;
    display: flex;
    justify-content: space-between;
}

.footer-checkbox {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: .4rem .8rem;
    border-radius: .25rem;
    background-color: #111;
    border: 1px solid #000;
}

.deck-footer button {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    background-color: rgb(115, 31, 161);
    font-size: 0.8rem;
    outline: none;
    border: none;
    font-size: 14px;
    transition: background-color 0.4s;
}

.deck-footer button:hover {
    background-color: rgb(88, 23, 122);
}

@media screen and (max-width: 550px) {
    .content-item input {
        min-width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .content-item input {
        min-width: 200px;
    }
}
