.deck-details {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: white;
    position: relative;
    overflow: hidden;
    height: 280px;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 25px;
    z-index: 90;
    margin-left: 10%;

}

.showcase {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    height: 280px;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgb(49,29,54);
    background: linear-gradient(90deg, rgba(49,29,54,1) 0%, rgba(54,16,42,0.3449754901960784) 100%);
    height: 100%;
    width: 100%;
}

.showcase-image {
    height: 500px;
    /* width: auto; */
    /* filter: grayscale(100%); */
}

.deck-details p {
    max-width: 80ch;
    margin-bottom: 15px;
    line-height: 1.4;
}

.deck-details h1 {
    margin-bottom: 15px;
    font-size: 50px;
}

.editBtn, .deleteBtn {
    border: 2px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.editBtn:hover, .deleteBtn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.deck-controls {
    display: flex;
    gap: 10px;
}

.search-bar {
    background-color: #222222;
    padding: 15px;
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid rgba(124, 124, 124, 0.2);
    margin-bottom: 10px;
}

.drop-down {
    position: relative;
    margin-left: auto;
    margin-right: 10%;
}

.search-bar input {
    width: 400px;
    height: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
}

.search-bar input:focus-visible {
    outline: none;
    border: none;
}

.search-results ul {
    position: absolute;
    width: 400px;
    max-height: 300px;
    top: 26px;
    background-color: white;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 40;
}

.search-results li {
    padding: 5px 10px;
    transition: 0.1s;
    border-bottom: 1px solid #c2c2c2;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #c2c2c2;
}

.search-results ul::-webkit-scrollbar-track {
    background-color: var(--white);
  }
  
.search-results ul::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 5px;
  }
  
.search-results ul::-webkit-scrollbar {
    width: 10px;
}

/* .decklist-container {
    height: max-content;
} */

/* .decklist-cards {
    padding: 25px;
    display: inline-flex;
    flex-direction: column;
    width: 750px;
    flex-wrap: wrap;
    color: #bbbbbb;
    font-size: 14px;
    column-gap: 20px;
    max-width: 40%;
} */
/* 
.decklist-cards {
    color: #bbbbbb;
    background-color: rgb(138, 95, 95);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'left right';
} */

.decklist-container {
    display: flex;
    padding: 10px;
    gap: 25px;
    color: #bbbbbb;
    margin-top: 23px;
    margin-left: 35px;
}

.decklist-container h3 {
    border-bottom: 2px solid rgba(124, 124, 124, 0.2);
    font-size: 14px;
    padding: 2.5px;
    margin-bottom: 2.5px;
}

.singleType {
    margin-bottom: 30px;
}

.card {
    border-bottom: 1px solid rgba(124, 124, 124, 0.2);
    padding: 5px 0;
    font-size: 14px;
    margin-left: 15px;
}

.card span {
    margin-left: 5px;
}

.card span:hover {
    text-decoration: underline;
}

.columnOne {
    width: 300px;
}

.columnTwo { 
    width: 300px;
}

.card {
    height: max-content;
}

.card {
    display: flex;
    cursor: pointer;
}

.card-dropdown {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.dropdown-content {
    position: absolute;
    background-color: #333333;
    pointer-events: none;
    visibility: hidden;
    top: 21px;
    right: 0;
    border-radius: 5px;
}

.shown {
    visibility: visible;
    pointer-events: auto;
    z-index: 10;
    color: rgb(206, 75, 75);
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 1px solid #525252;
}

.card-controls {
    padding: 10px;
    transition: background-color 0.3s;
}

.card-controls:hover {
    background-color: #242424;
}

.card-dropdown img {
    height: 16px;
    filter: invert(95%) sepia(0%) saturate(68%) hue-rotate(155deg) brightness(77%) contrast(100%);
    cursor: pointer;
    margin-left: auto;
}

.deck-size {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    width: 100%;
    z-index: 10;
    padding: 10px calc(10% + 25px);
    display: flex;
    color: var(--primary);
    font-weight: bold;
    font-size: 14px;
    align-items: center;
}

.type-amounts {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 25px;
    align-items: center;
}
.card-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.card-display img {
    height: 350px;
    border-radius: 12px;
    margin-top: 35px;
    position: sticky;
    top: 75px;
}

.card-display h4 {
    position: sticky;
    top: 410px;
    color: #cccccc;
}

.card-display p {
    color:#cccccc;
    width: 250px;
}

.cards-area {
    display: flex;
    margin-left: calc(10% + 25px);
}

.search-bar {
    position: sticky;
    top: 0;
    z-index: 20;
}

.search-bar input {
    background-color: #131313;
    color: #bbbbbb;
}

.search-results ul {
    background-color: #424242;
    color: #525252;
}

.search-results ul li {
    border-bottom: 1px solid rgb(31, 30, 30);
    color: white;
}

.search-results ul li:hover {
    background-color: #525252;
    color: white;
}

.comments-list {
    margin-left: calc(10% + 25px);
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 1px solid #525252;
    border-bottom: 1px solid #525252;
    margin-right: calc(10% + 25px);
}

.comment-form {
    margin-left: calc(10% + 25px);
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-form textarea {
    background-color: #131313;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    width: 400px;
    padding: 10px;
    height: 50px;
    color: #c2c2c2;
    resize: none;
}

.comment-form button {
    width: max-content;
    padding: 10px;
    background-color: #731fa1;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.comment-form button:hover {
    background-color: #5f1985;
}

.comments-list h3 {
    color: #cccccc;
    margin-top: 25px
}

.comments-list li {
    padding: 10px 0;
    margin: 10px 0;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.comment-user a {
    color: var(--secondary);
}

.comment-user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment-controls {
    cursor: pointer;
    width: max-content;
}

.comment-controls:hover {
    text-decoration: underline;
}

.delete-div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.delete-div img {
    filter: invert(88%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(91%) contrast(98%);
    width: 20px;
}

